/* TicTacToe.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("background-image.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  overflow-x:hidden;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.board{
  /* background: rgba(0, 0, 0, 0.8); */
  border-radius:10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
}

.cell{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
}

.cell-1{
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
}

.cell-2{
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
}

.cell-3{
  /* border-left:1px solid #fff; */
  border-bottom:1px solid #fff;
}

.cell-4{
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
}
.cell-5{
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
}
.cell-6{
  /* border-left:1px solid #fff; */
  border-bottom:1px solid #fff;
}
.cell-7{
  border-right:1px solid #fff;
  /* border-bottom:1px solid #fff; */
}
.cell-8{
  border-right:1px solid #fff;
  /* border-bottom:1px solid #fff; */
}


.game , .setting{
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.game h2{
  text-align: center;
  transform: translate(0,-15px);
}

.game button{
  border: none;
  width:60px;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size:1rem;
}

.game button:hover{
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
}

.cell.filled {
  pointer-events: none;
}

.setting .option {
  /* margin-bottom: 15px; */
  margin-left: 15px;
}

.setting h2{
  text-align: center;
  transform: translate(0,-15px);
}

.setting .option label {
  display: block;
  margin-bottom: 5px;
}

.setting .option button{
  padding: 5px;
  margin:2px;
  aspect-ratio: 2/1;
  height:30px;
  font-size: 15px;
  border-radius: 3px;
  /* background-color: rgb(255, 183, 49); */
}

button.active {
  background: #f78030;
  border: 2px solid #f78030;
  color: #f8f8f8;
}

.result {
  width: 350px;
  background-color: rgba(101, 255, 135, 1);
  color: black;
  height: 100px;
  margin: 20px auto;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px 10px;
  opacity: 0;  /* Start invisible */
  transform: translateY(100px);  /* Start from above */
  animation: showResult 7s forwards;
  position: absolute;
  bottom: 0;
}

@keyframes showResult {
  0% {
    opacity: 0;
    transform: translateY(100px); /* Start from above */
  }
  27% {
    opacity: 1;
    transform: translateY(0); /* Move to normal position */
  }
  100% {
    opacity: 0;
    transform: translateY(70px); /* Move back up and disappear */
  }
}

.result p {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}

.hide {
  display: none;
}


.show{
  display: block;
}